HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store
/src/main/java/codeExecutorDocker/Main.java
/src/main/java/codeExecutorDocker/Main.class
/src/main/java/codeExecutorDocker/input_data/inp.json
/src/main/java/codeExecutorDocker/output_data/out.json
/src/main/java/codeExecutorDocker/input_data/
/src/main/java/codeExecutorDocker/output_data/
/src/main/java/ru/wincentaina/TestingSystem/docker/tmp/
/src/main/java/ru/wincentaina/TestingSystem/codeExecutorDocker/app/
